/* Basic Reset */
body, h1, h2, h3, p { margin: 0; padding: 0; }
  
body {
  font-family: Arial, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: start;
  gap: 30px;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
  margin: 60px;
}
.profile-details p{
  text-align: start;
}

.profile-picture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.profile-details {
  text-align: right;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
 
}

.product {
  width: 23%; /* 4 products in a row */
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
  text-align: center;
}

.product img {
  max-width: 100%;
  height: auto;
}
